body{
    background-color: #987D9A;
}
img{
    border: 1px solid black;
    border-radius: 20px;
}
.imageshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.imageClass {
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.dot:hover {
    background-color: #717171;
}